@page
@model BaseMinDE2026WEB.Pages.AdminPageModel
@{
}

<ul>
    @foreach (var order in Model.UserOrders)
    {
        <li>
            <p>
                <b>Название курса:</b>
                @order.IdCourseNavigation.Name
            <p />
            <p>
                <b>Дата начала:</b>
                @order.StartDate
            <p />
            <p>
                <b>Тип оплаты:</b>
                @order.IdPaymentTypeNavigation.Name
            <p />
            <p>
                <b>Статус:</b>
                <select asp-items="@Model.OrderStatuses //Источник данных - все статусы заявок
                    .Select(x => new SelectListItem( //переводим статусы из списка статоусо в формат, подходящий для раскрывающегося списка на клиенте
                        x.Name, //первый аргумент - значение, которое видит пользователь
                        x.IdOrderStatus.ToString(), //второй - value (то, что уйдет на сервер), третий (опционально) делает элемент выбранным, если условие верно
                        x.IdOrderStatus==order.IdStatus))" 
                        onchange="statusChanged(@order.IdOrder, this.value)" @* при изменении пункта списка передается в функцию id заявки и значение измененного статуса (value) *@
                ></select>                
            <p />             
        </li>
    }
</ul>

<script>
   async function statusChanged(idOrder, idStatus) {
        const URLstring = "/AdminPage?handler=ChangeStatus&idOrder=" + idOrder + "&idStatus=" + idStatus;
        fetch(URLstring);
    }
</script>